h1 a, h2 a {
    color: #FF8833;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #ff5c5c;
}

small, .small {
    font-size: 85%;
    color: #FF8833;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
    background-color: aliceblue;
    padding: 20px;
}